@import "compass/css3";

@font-face {
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/Anders.ttf');
  font-family: test;
}
html,body {
  font-size: 62.5%;
}
.scene {
  position: relative;
  height: 100%;
  text-align: center;
}
h1 {
  position: relative;
  font-size: 5rem;
  text-transform: uppercase;
  font-family: test;
  color: #fff;
  z-index: 10;
}
.magic {
  z-index: 5;
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  width: 20rem;
  height: 20rem;
  background: url('../img/back0003.svg') 10% 10% no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
}
.check-out {
  z-index: 100;
  position: absolute;
  bottom: 1rem;
  left: 30%;
  transform: translateX(-10%);
  font-size: 2rem;
  color: #fff;
  font-family: test;

  a {
    color: rgba(255,170,170,2);
  }
}

.contenedor{
  height: 65em;
  z-index: -1;
}
.contenedor1{
  display: none;
}
.contenedor2{
  display: none;
}
/*cierra menu */
.flotante{
  position:absolute;
  right: 0px;
  top: 90px;
  border-radius: 10px;
  line-height: 3px;
}
.flotante1{
  display: none;
}
.navegador{
  display:block;
  position: absolute;
  top: 28px;
}
li {
  float: left;
  line-height: 3px;
  color: #fff;
}
a{
  display: block;
  padding: 15px;
  font-size: 16px;
  background-color: #dddddd;
}
.boton{
  border-radius: 10px;
  margin: 0 auto;
  background-color: #81f7dc;
  color: #351A92;  /* #0000cc;  */
}
.boton:hover{
  background: #DE00FF;  /fuccia
  border-radius: 12px;
  color: #fff;
}
.texto0{
  color: #351a92;
}
.texto{
  color: #fff;
}
.texto:hover{
  color: #81F7DC;
}
.texto1{
  color: #DE00FF;
}
.texto1:hover{
  color: #81F7DC;
}
.texto2{
  color: #fff;
  font-size: 14px;
}
.texto2:hover{
  opacity: 1;
  justify-content: center;
  align-content: center;
  color: #81f1dc;
}
.texto3{
  color: #351A92;
}
.texto3:hover{
  color: #DE00FF;
}

 #link {
   text-decoration:none;
   color:#fff;
 }
 #link:hover{
   text-decoration:none;
   color:#81f7DC;
 }

 .avance{
   border-radius: 10px;
   background: #fff;
   color: #351A92;  /* #0000cc;  */
   width: 350px;
   margin: 120px 20px 20px 20px;
 }


 /* scrollbar  */
 .force-overflow
 {
 	min-height: 500px;
 }
 #wrapper
{
	text-align:left;
	margin: 0px auto;
}

 .scrollbar
 {
/* 	margin-left: 30px;
*/
  float: left;
 	height: 40em;
 	width: 65px;
 	overflow-y: scroll;
 	margin-bottom: 15px;
 }
 #style-4::-webkit-scrollbar-track
 {
 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 	background-color: #DE00FF;
 }

 #style-4::-webkit-scrollbar
 {
 	width: 10px;
 	background-color: #F5F5F5;
 }

 #style-4::-webkit-scrollbar-thumb
 {
 	background-color: #000000;
 	border: 2px solid #555555;
 }


.navegador1{
  display: none;
}
    /* inicio modal  */
.inscripcion {
      z-index: 2;
      overflow: auto;
      width: 25%;
      height: 44em;
      background-color: white;
      margin: 2em 2em 0em 0em;
      border: 1px solid #013F72;
      line-height: 2px;
    }
.inscripcion input
    {
    background-color: #fff;
    color: #000;
    width: 50%;
    line-height: normal;
  }
.inscripcion label
    {
    color: #351a92;
    line-height: 15px;
    font-size: 15px;
  }
.titulos{
    color: #351A92;
  }
.titulos h1{
     margin: 150px 15px 15px 55px;
     font-size: 69px;
  }
.titulos h3{
     padding:20px 20px 20px 20px;
     margin: 50px 15px 15px 55px;
  }
.titulos h4{
     margin: 0px 15px 15px 55px;
     font-size: 24px;
     opacity: 0.5;
}
.titulos h6{
    margin: 15px 15px 15px 15px;
    line-height: 13px;
    font-size: 13px;
    font-weight: bold;
}
.titulos p{
    padding:20px 20px 20px 20px;
    margin: 15px 15px 15px 15px;
    line-height: 20px;
    font-size: 13px;
}
.titulos input::placeholder{
   font-size: 13px;
   font-style: normal;
}
.titulos select, .titulos ol{
   color: #013F72;
   font-size: 13px;
   font-style: normal;
}
input[type="text"], input[type="email"], select{
    width: 100%;
    font-size: 12px;
    color: #81f7dc;
}
input[type="submit"]{
    width: 100%;
    font-size: 12px;
    color: #351a92;
    background-color: #81f7dc;
    border: none;
    height: 2.5em;
    font-size: 15px;
    margin: 0;
}

form {
    width: 90%;
    margin: 0 auto 0em auto;
}
ol, select{
    color: #013F72;
    width: 90% !important;
    margin: 0 auto;
    border-bottom: 1px solid #013F72 !important;
}
.guardar, .close1, .close {
    color: #fff;
    width: 2%;
    font-size: 12px;
    font-weight: bold;
}
.ideas{
  padding: 50px 50px 50px 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.img_ideas{
    width: 20%;
    height: 20%;
  }
select:focus{ outline: none;}

option:hover{
    color:#E74C3C;
    background-color: #81f7dc;
}

/* aliados */
.aliados{
  border-radius:14px;
  font-size: 62.5%;
  overflow: hidden;
  }




@media screen and (max-width:900px) {
      header {
          width: 100%;
          position:static;
          z-index: 101;
      }
      /* menu  */
      .navegador{
          display: none;
      }
      .navegador1{
        display:inline;
      }


      /* fin menu */
      /* contenedor */
      .contenedor{
        display: none;
      }
      .contenedor1{
        display:block;
        height: 41em;
        z-index: -1;
        }
      .contenedor2{
        display: none;
      }

      .inscripcion {
        z-index: 2;
        overflow: auto;
        width: 40%;
        height: 31em;
        background-color: white;
        margin: 2em 2em 0em 0em;
        border: 1px solid #013F72;
        line-height: 2px;
      }
      .titulos h1{
         margin: 25px 350px 50px 55px;
         font-size: 45px;
      }

      .titulos h4{
         margin: 5px 350px 50px 55px;
         font-size: 20px;
      }
    }

    @media screen and (max-width: 600px) {
      /* menu  */
      header {
            width: 100%;
            position:static;
            z-index: 101;
      }

      .navegador{
        display:none;
      }
      .navegador1{
        display:inline;
        background-color:#4D5969;
      }
      /* diseño svg */
      .contenedor{
        display: none;
      }
      .contenedor1{
        display: none;
      }
      .contenedor2{
        height: 41em;
        z-index: -1;

        }
    }
